<div class="card-body">
  <div class="row-md-4 align-items-center">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
        <h2>Mes appareils</h2>
        </div>
        <!--<p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>-->
        <div class="card-body">
          <ul class="card-deck align-items-center">
            <app-appareil  *ngFor="let appareil of appareils; let i= index"
                           [appareilName]="appareil.name"
                           [appareilStatus]="appareil.status"
                           [index] = "i"
                           [id] = "appareil.id"></app-appareil>
          </ul>
        <div align="center">
          <button class="btn btn-success"
                  (click)="onAllumer()">Tout allumer</button>
          <button class="btn btn-danger"
                  (click)="onEteindre()">Tout éteindre</button>
          <button class="btn btn-primary"
                (click)="onSave()">Enregistrer</button>
          <button class="btn btn-secondary"
                (click)="onFetch()">Récupérer</button>
        </div>
      </div>
    </div>
  </div>
  </div>
 </div>


